#all-trend-products {
    display: initial;
    width: auto;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
    justify-content: space-between;
}

#all-trend-products {
    display: grid;
    row-gap: 50px;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
  }
  
  .content_list-trend-product {
   
    padding: 20px;
    font-size: 150%;
    text-align: center;
  }


#all-trend-products::-webkit-scrollbar {
    display: none; 
}

@media only screen and (max-width: 600px) {
    #all-trend-products{
        width: 100%;
        overflow: hidden;
        overflow-x: scroll;
        display: flex;
       
    }
  }