<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function goBackHome () {
            // console.log(window.location, window.location.pathname, )
            window.location.href = `${window.location.origin}/index.html`
        }
    </script>
</head>
<body>
    <header class="header">
        <div class="header__img hide-on-mobie-tablet">
            <div class="grid-header">
                <a href=""> <img src="./file/img/Bitex071263x60.jpg" alt="" class="header__img-top"></a>
            </div>
        </div>

        <div class="grid-rs">
            <div class="header_rs-item-logo">
                <img src="./file/img/rs/fahasa-logo.png" alt="">
            </div>
            <div class="header__navbar-list">
                <div class="header__navbar-item-logo hide-on-mobie-tablet" onclick="goBackHome()">
                    <img src="./file/img/fahasa_logo.png" alt="" class="header__navbar-item-img">
                </div>

                <div class="header__navbar-item-menu">
                    <img src="./file/img/ico_menu.svg" alt="" class="header__navbar-item-icon-menu">
                    <i class="header__navbar-item-icon-menu fa-solid fa-angle-down"></i>
                    <div class="header_icon-menu">
                        <div class="header__list-menu">
                            <div class="header__list-menu-title">
                                <div class="header__list-menu-heading">
                                    Danh mục sản phẩm
                                </div>
                                <a href="./danhmuc/indexds.html">
                                    <div class="header__list-menu-title-text">
                                        Sách trong Nước
                                    </div>
                                </a>
                              
                                <div class="header__list-menu-title-text">
                                    FOREIGN BOOKS
                                </div>
                                <div class="header__list-menu-title-text">
                                    Đồ Chơi
                                </div>
                                <a href="./danhmuc1/indexds.html">
                                    <div class="header__list-menu-title-text">
                                        VPP - Dụng Cụ Học Sinh
                                    </div>
                                </a>
                                
                            </div>
                            <div class="header__list-menu-border">

                            </div>
                            <div class="header__list-menu-content">
                                <div class="header__list-menu-content-heading">
                                    Sách Trong Nước
                                </div>
                                <div class="header__list-menu-content-chose">
                                    <div class="grid-column-3">
                                        <ul class="header__list-menu-content-text">
                                            <span class="header__list-menu-content-title">
                                                VĂN HỌC
                                            </span>
                                            <li class="header__list-menu-content-item">
                                                Tiểu Thuyết
                                            </li>
                                            <li class="header__list-menu-content-item">
                                                Truyện Ngắn - Tản Văn
                                            </li>
                                            <li class="header__list-menu-content-item">
                                                light Novel
                                            </li>
                                            <li class="header__list-menu-content-item">
                                                Ngôn Tình
                                            </li>
                                            <li class="header__list-menu-content-item">
                                                <a href="">
                                                    Xem Tất Cả
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="grid-column-3">
                                        <ul class="header__list-menu-content-text">
                                            <span class="header__list-menu-content-title">
                                                KINH TẾ
                                            </span>
                                            <li class="header__list-menu-content-item">
                                                Nhâ vật - Bài Học Kinh Doanh
                                            </li>
                                            <li class="header__list-menu-content-item">
                                                Quản Trị - Lãnh Đạo
                                            </li>
                                            <li class="header__list-menu-content-item">
                                                Maketing - Bán Hàng
                                            </li>
                                            <li class="header__list-menu-content-item">
                                                Phân Tích Kinh Tế
                                            </li>
                                            <li class="header__list-menu-content-item">
                                                <a href="">
                                                    Xem Tất Cả
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="grid-column-3">
                                        <ul class="header__list-menu-content-text">
                                            <span class="header__list-menu-content-title">
                                                TÂM LÝ - KỸ NĂNG SỐNG
                                            </span>
                                            <li class="header__list-menu-content-item">
                                                Kỹ Năng Sống
                                            </li>
                                            <li class="header__list-menu-content-item">
                                                Rèn Luyện Nhân Cách
                                            </li>
                                            <li class="header__list-menu-content-item">
                                                Tâm Lý
                                            </li>
                                            <li class="header__list-menu-content-item">
                                                Sách Cho Tuổi Mới Lớn
                                            </li>
                                            <li class="header__list-menu-content-item">
                                                <a href="">
                                                    Xem Tất Cả
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="grid-column-3">
                                        <ul class="header__list-menu-content-text">
                                            <span class="header__list-menu-content-title">
                                                NUÔI DẠY CON
                                            </span>
                                            <li class="header__list-menu-content-item">
                                                Cẩm Nang Làm Cha Mẹ
                                            </li>
                                            <li class="header__list-menu-content-item">
                                                Phương Pháp Giáo Dục Trẻ Các Nước
                                            </li>
                                            <li class="header__list-menu-content-item">
                                                Phát Triển Trí Tuệ Cho Trẻ
                                            </li>
                                            <li class="header__list-menu-content-item">
                                                Phát Triển Kỹ Năng Cho Trẻ
                                            </li>
                                            <li class="header__list-menu-content-item">
                                                <a href="">
                                                    Xem Tất Cả
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="grid-column-3">
                                        <ul class="header__list-menu-content-text">
                                            <span class="header__list-menu-content-title">
                                                SÁCH THIẾU NHI
                                            </span>
                                            <li class="header__list-menu-content-item">
                                                Manga - Comic
                                            </li>
                                            <li class="header__list-menu-content-item">
                                                Kiến Thức Bách Khoa
                                            </li>
                                            <li class="header__list-menu-content-item">
                                                Sách Tranh Kỹ Năng Sống Cho Trẻ
                                            </li>
                                            <li class="header__list-menu-content-item">
                                                Vừa Học - Vừa Học Vừa Chơi Cho Trẻ
                                            </li>
                                            <li class="header__list-menu-content-item">
                                                <a href="">
                                                    Xem Tất Cả
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="grid-column-3">
                                        <ul class="header__list-menu-content-text">
                                            <span class="header__list-menu-content-title">
                                                TIỂU SỬ HỒI KÝ
                                            </span>
                                            <li class="header__list-menu-content-item">
                                                Câu Truyện Cuộc Đời
                                            </li>
                                            <li class="header__list-menu-content-item">
                                                Chính Trị
                                            </li>
                                            <li class="header__list-menu-content-item">
                                                Kinh Tế
                                            </li>
                                            <li class="header__list-menu-content-item">
                                                Nghệ Thuật - Giải Trí
                                            </li>
                                            <li class="header__list-menu-content-item">
                                                <a href="">
                                                    Xem Tất Cả
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="grid-column-3">
                                        <ul class="header__list-menu-content-text">
                                            <span class="header__list-menu-content-title">
                                                SÁCH NGOẠI NGŨ
                                            </span>
                                            <li class="header__list-menu-content-item">
                                                Tiếng Anh
                                            </li>
                                            <li class="header__list-menu-content-item">
                                                Tiếng Nhật
                                            </li>
                                            <li class="header__list-menu-content-item">
                                                Tiếng Hoa
                                            </li>
                                            <li class="header__list-menu-content-item">
                                                Tiếng Hàn
                                            </li>
                                            <li class="header__list-menu-content-item">
                                                <a href="">
                                                    Xem Tất Cả
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="grid-column-3">
                                        <ul class="header__list-menu-content-text">
                                            <span class="header__list-menu-content-title">
                                                GÍAO KHOA - THAM KHẢO
                                            </span>
                                            <li class="header__list-menu-content-item">
                                                Sách Giáo Khoa
                                            </li>
                                            <li class="header__list-menu-content-item">
                                                Sách Tham Khảo
                                            </li>
                                            <li class="header__list-menu-content-item">
                                                Luyện Thi ĐH,CĐ
                                            </li>
                                            <li class="header__list-menu-content-item">
                                                Mẫu Giáo
                                            </li>
                                            <li class="header__list-menu-content-item">
                                                <a href="">
                                                    Xem Tất Cả
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="grid-column-3">
                                        <ul class="header__list-menu-content-text">
                                            <span class="header__list-menu-content-title">
                                                SÁCH MỚI<i class="fa-solid fa-heart"></i>
                                            </span>
                                        </ul>
                                    </div>
                                    <div class="grid-column-3">
                                        <ul class="header__list-menu-content-text">
                                            <span class="header__list-menu-content-title">
                                                SÁCH BÁN CHẠY<i class="fa-solid fa-heart"></i>
                                            </span>
                                        </ul>
                                    </div>




                                </div>


                            </div>

                        </div>
                    </div>
                </div>
                <div class="header_rs-icon-menu">
                    <a href="./danhmuc/indexds.html">
                        <ion-icon name="grid-outline"></ion-icon>
                    </a>
                </div>

                <div id="search" class="header__search">
                    <div class="header__navbar-item-search">
                        <input type="text" class="header__input-search"
                            placeholder="Tìm kiếm sản phẩm mong muốn,....">
                        <button class="header__search-btn hide-on-mobie-tablet">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>

                        <!-- history -->

                        <div class="header__search-history">
                            <div class="header__search-history-list">
                                <div class="header__history-heading">
                                    <span class="header__history-heading-text">
                                        Cùng fahasa trở lại trường học
                                    </span>
                                    <img src="./file/img/140x30_1.2.png" alt="" class="header__history-heading-img">
                                </div>

                                <div class="header__history-center-hot">
                                    <span class="header__history-center-hot-text">
                                        <i class="fa-solid fa-arrow-trend-up"></i>Từ khóa hot
                                    </span>
                                    <i class="header__history-center-hot-icon fa-solid fa-arrows-spin"></i>
                                </div>


                                <div class="header__history-center">
                                    <div class="header__history-center-heading">
                                        <div class="header__history-center-list">
                                            <div class="header__history-center-item">
                                                <img src="./file/img/anhsach/8934974153023_1.jpg" alt=""
                                                    class="header__history-center-img">
                                                <span class="header__history-center-text">
                                                    Shinz Abe & Gia Tộc Tuyệt đỉnh </span>
                                            </div>
                                            <div class="header__history-center-item">
                                                <img src="./file/img/anhsach/8934974179566.jpg" alt=""
                                                    class="header__history-center-img">
                                                <span class="header__history-center-text">
                                                    1% Mỗi Ngày - Không Ngừng Chinh Phục Bản Thân
                                                </span>
                                            </div>
                                            <div class="header__history-center-item">
                                                <img src="./file/img/anhsach/8936130671129.jpg" alt=""
                                                    class="header__history-center-img">
                                                <span class="header__history-center-text">
                                                    Boardgame Thám Tử Lừng Danh Conan - Nàng Dâu Halloween: Thính

                                                </span>
                                            </div>
                                            <div class="header__history-center-item">
                                                <img src="./file/img/anhsach/ajin---boxset-s_-2.jpg" alt=""
                                                    class="header__history-center-img">
                                                <span class="header__history-center-text">
                                                    Ajin - BoxSet Số 2 (Tập 7 Đến Tập 12) - Tặng Kèm Bookmark
                                                </span>
                                            </div>
                                            <div class="header__history-center-item">
                                                <img src="./file/img/anhsach/chu-thuat-hoi-chien---tap-4---ta-se-diet-tru-nguoi---obi.jpg"
                                                    alt="" class="header__history-center-img">
                                                <span class="header__history-center-text">
                                                    Chú Thuật Hồi Chiến - Tập 4 - Bản Thường - Tặng Kèm Obi Và Card
                                                    Nhựa
                                                </span>
                                            </div>
                                            <div class="header__history-center-item">
                                                <img src="./file/img/anhsach/v_-th_n-c_a-nh_ng-quy_t-_nh-_2-phi_n-b_n-b_a_b_a-1_-b_n-h_ng.jpg"
                                                    alt="" class="header__history-center-img">
                                                <span class="header__history-center-text">
                                                    Vị Thần Của Những Quyết Định - The Book Of Answers - Bản Bìa
                                                    Hồng
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="header__history-center-trend">
                                    <span class="header__history-center-hot-text">
                                        <img src="./file/img/ico_menu.svg" alt=""
                                            class="header__history-center-hot-text-img">Danh mục nổi bật
                                    </span>
                                    <i class="header__history-center-hot-icon fa-solid fa-arrows-spin"></i>

                                </div>


                                <div class="header__history-end">
                                    <div class="header__history-end-list">

                                        <div class="header__history-end-item">

                                            <img src="./file/img/sachend/3300000015279.jpg" alt=""
                                                class="header__history-end-img">
                                            <p class="header__history-end-text">
                                                Sách Giáo Khoa 2022 </p>
                                        </div>


                                        <div class="header__history-end-item">
                                            <img src="./file/img/sachend/9786043603590.jpg" alt=""
                                                class="header__history-end-img">
                                            <p class="header__history-end-text">
                                                Thương Trường là chiến trường
                                            </p>
                                        </div>
                                        <div class="header__history-end-item">
                                            <img src="./file/img/sachend/7cq1640081325_3.jpg" alt=""
                                                class="header__history-end-img">
                                            <p class="header__history-end-text">
                                                Boardgame Best Seller - Khu rừng...
                                            </p>
                                        </div>
                                        <div class="header__history-end-item">
                                            <img src="./file/img/sachend/image_195509_1_33503.jpg" alt=""
                                                class="header__history-end-img">
                                            <p class="header__history-end-text">
                                                Dạy Con Làm Giàu
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  -->

                    <div class="header_rs-icon-cart">
                        <a href="./cart/cart.html">
                            <ion-icon name="cart-outline"></ion-icon>
                        </a>
                    </div>
                    <div class="header_rs-icon-user">
                        <i class="fa-regular fa-user"></i>
                    </div>

                    <div class="header__navbar-item hide-on-mobie-tablet">
                        <div class=" header__navbar-item-bell">
                            <i class="header__navbar-item-icon-bell fa-regular fa-bell"></i><br>
                            Thông báo
                            <!-- list thông báo -->

                            <div class="header__navbar-list-bell">
                                <h3 class="header__list-tbao">
                                    Thông báo
                                </h3>
                                <img src="" alt="" class="header__list-tbao-img">
                                <span class="header__list-tbao-msg">
                                    Vui lòng đăng nhập để xem thông báo
                                </span>
                                <button class="header__list-login btn js-login">
                                    Đăng nhập
                                </button>
                                <button class="header__list-resginter btn js-register">
                                    Đăng ký
                                </button>
                            </div>
                            <!--  -->

                        </div>
                        <div class=" header__navbar-item-cart">
                            <a href="./cart/cart.html">
                                <i class="header__navbar-item-icon-cart ti-shopping-cart"></i><br>
                                Giỏ hàng
                            </a>                                
                        </div>
                        <div class="header__navbar-item-user">
                            <i class="header__navbar-item-icon-user fa-solid fa-user-astronaut"></i><br>
                            Tài khoản
                            <div class="header__navbar-list-user">
                                <button class="header__list-item-register btn js-register">
                                    Đăng ký
                                </button>
                                <button class="header__list-item-login btn js-login">
                                    Đăng nhập
                                </button>
                                <button class="header__list-item-fb btn">
                                    <i class="header__list-item-icon-fb fa-brands fa-facebook-f"></i>
                                    Đăng nhập bằng facebook
                                </button>

                            </div>
                        </div>
                        <div class=" header__navbar-item-language">
                            <button class="header__item-language">
                                <img src="./file/img/default.svg" alt="" class="header__navbar-item-img-language">
                                <i class="header__navbar-item-icon-language fa-solid fa-angle-down"></i>
                            </button>
                            <div class="header__list-language">
                                <button class="language-btn-vn">
                                    <img src="./file/img/default.svg" alt=""
                                        class="header__list-language-VN "><span>VN</span>
                                </button>
                                <button class="language-btn-en">
                                    <img src="./file/img/english.svg" alt=""
                                        class="header__list-language-EN "><span>EN</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- form đăng ký đăng nhập -->
        <div class="modal js-modal">
            <div class="modal__overlay"></div>
            <div class="modal__body">
                <div class="modal__inner">
                    <div class="auth-form js-auth-form">
                        <div class="auth-form__container">
                            <div class="auth-form__header">
                                <a href="">
                                    <span class="auth-form__heading-login">Đăng nhập
                                        <hr>
                                    </span>
                                </a>
                                <a href="">
                                    <span class="auth-form__heading-register">Đăng ký
                                        <hr>
                                    </span>
                                </a>

                            </div>
                            <div class="auth-form__from">
                                <div class="auth-form__group">
                                    <label for="" class="molal__label">Số điện thoại/email</label>
                                    <input type="text" class="auth-from__input"
                                        placeholder="Nhập số điện thoại hoặc email">
                                </div>

                                <div class="auth-form__group">
                                    <label for="" class="molal__label">Mật khẩu</label>
                                    <input type="password" class="auth-from__input" placeholder="Nhập mật khẩu ">
                                </div>

                            </div>
                            <div class="auth-form__aside">
                                <div class="auth-form__help">
                                    <a href="" class="auth-form__help-link auth-form__help-forgot">Quên mật
                                        khẩu?</a>
                                </div>
                            </div>
                            <div class="auth-from__coltrol">
                                <button class="btn auth-from__coltrol-login">Đăng nhập</button>
                                <button class="btn auth-from__coltrol-back  
                                 js-btn-close">Bỏ qua</button>
                                <button class="btn auth-from__coltrol-fb">Đăng nhập bằng facebook</button>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-register js-modal-register">
            <div class="modal__overlay"></div>
            <div class="modal__body">
                <div class="modal__inner">
                    <div class="auth-form js-auth-form-register">
                        <div class="auth-form__container">
                            <div class="auth-form__header">
                                <a href="">
                                    <span class="auth-form__heading-login">Đăng nhập
                                        <hr>
                                    </span>
                                </a>
                                <a href="">
                                    <span class="auth-form__heading-register">Đăng ký
                                        <hr>
                                    </span>
                                </a>

                            </div>
                            <div class="auth-form__from">
                                <div class="auth-form__group">
                                    <label for="" class="molal__label">Số điện thoại</label>
                                    <input type="text" class="auth-from__input" placeholder="Nhập số điện thoại">
                                </div>

                                <div class="auth-form__from">
                                    <div class="auth-form__group">
                                        <label for="" class="molal__label">Xác nhận mã otp</label>
                                        <input type="text" class="auth-from__input-register" placeholder="6 ký tự"
                                            disabled>
                                    </div>

                                    <div class="auth-form__group">
                                        <label for="" class="molal__label">Mật khẩu</label>
                                        <input type="password" class="auth-from__input-register"
                                            placeholder="Nhập mật khẩu " disabled>
                                    </div>

                                </div>

                                <div class="auth-from__coltrol">
                                    <button class="btn auth-from__coltrol-login">Đăng ký</button>
                                    <button class="btn auth-from__coltrol-back  
                                js-btn-close-register">Bỏ qua</button>

                                </div>

                                <div class="auth-form__aside">
                                    <p class="auth-from__policy-text">
                                        Bằng việc đăng ký, bạn đã đồng ý với Fahasa.com về<br>
                                        <a href="" class="auth-from-policy-link">Điều khoản dịch vụ</a> &
                                        <a href="" class="auth-from-policy-link">Chính sách bảo mật</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->

    </header>

</body>
</html>