<!DOCTYPE html>
<html lang="en">
  <body>
    <script src="../fakeData.js"></script>
    <script>
      let trendProducts = fakeData;

      console.log(fakeData)

      let resultHtml = "";
      trendProducts.map((product, index) => {
        resultHtml += `
                <div class="">
                    <div class="content_list-trend-product">
                        <div class="content_product-trend-item-img">
                            <img src="${product.img}"
                                alt="" class="content_product-trend-img">
                        </div>

                        <h2 class="content_product-trend-heading">
                            <a href="">
                                ${product.productName}
                            </a>
                        </h2>

                        <div class="trend-money">
                            <div class="content_product-trend-item">
                                <div class="content_product-trend-price-current">${product.price}</div>
                                <div class="content_product-trend-chapter">${product.saleRate}</div>
                            </div>
                            <div class="content_product-trend-price-old">
                               ${product.salePrice}
                            </div>
                        </div>

                        <div class="content_trend-item-star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <span class="content_trend-item-text-sl">(0)</span>
                        </div>
                        <div class="content_product-trend-buyed">
                            <div class="content_product-trend-buyed-text">
                               Đã bán ${product.buyQlt}
                            </div>
                            <span class="content_product-trend-buyed-modal">

                            </span>

                        </div>


                    </div>
                </div>
            `;
        return product;
      });

      $("#all-trend-products").html(resultHtml);
    </script>

    <div class="content__trend">
      <img
        src="file/img/xuhuong/ico_dealhot.png"
        alt=""
        class="content_trend-img"
      />
      <h1 class="content_heading-trend">XU HƯỚNG MUA SẮM</h1>
    </div>
    <div class="content_list-header-trend">
      <div class="content_game-header-list-btn-default">Xu Hướng Theo Ngày</div>
      <div class="content_game-header-list-btn">Sách HOT - Giảm Sốc</div>
      <div class="content_game-header-list-btn">Bestteller Ngoại Văn</div>
    </div>

    <div class="content_trend-product">
      <div id="all-trend-products"></div>
      <div class="content_bag-btn-more">
        <a href=""> Xem thêm </a>
      </div>
    </div>
  </body>
  <script src="sach.js"></script>
</html>
